<h1>注文履歴一覧</h1>

<% @orders.each do |order| %>
  <p>注文日: <%= order.created_at.strftime("%Y/%m/%d") %></p>
  <p>
    配送先: 〒<%= order.postcode %> <br>
    <%= order.address %>
    <%= order.address_name %>
  </p>
  <p>注文商品: OrderProductモデルを使用する！！！</p>
  <p>ステータス: <%= order.order_status %></p>
  <%= link_to "注文詳細", order_path(order), class: 'btn btn-primary' %>
<% end %>